@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  font-family: "Roboto";
  border-bottom: 1px solid rgb(231, 231, 231);
}
.nav-inner-div {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-right-div {
  display: flex;
  font-size: 0.8rem;
  gap: 1.2rem;
  margin-right: 1rem;
  align-items: center;
}

.nav-right-div a {
  text-decoration: none;
  color: black;
}
.user-mag-div {
  display: flex;
  align-items: center;
}
.notification-div {
  background-color: rgb(218, 218, 218);
  width: 30px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin: 0 0.2rem;
  border: none;
}

.notification-div:hover {
  cursor: pointer;
}
.canvas {
  display: flex;
  justify-content: left;
  font-family: "Roboto";
  margin-left: 2rem;
  gap: 1rem;
}
.lab-nav {
  display: flex;
  gap: 1rem;
}
.lab-nav button {
  border: none;
  background: none;
  color: rgb(125, 125, 125);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.8rem;
  height: 1.5rem;
}
.lab-nav button:hover {
  cursor: pointer;
}
.canvas-comp {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
}
.lab-select {
  width: 7rem;
  border: 1px solid black;
  height: 1.5rem;
  outline: none;
}
