.timeline-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Prevents the timeline from overflowing */
  overflow-x: auto; /* Horizontal scroll if needed */
  height: 100%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.timeline-container::-webkit-scrollbar {
  display: none;
}

.hours-row {
  display: flex;
  flex-wrap: nowrap; /* Prevents cells from wrapping */
}

.hour-cell {
  flex-shrink: 0; /* Prevents shrinking */
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 0.8rem;
  width: 7rem;
}

.events-row {
  margin-top: 0.5rem;
  position: relative;
  height: auto;
  background: #f1f1f1;
}

.event-card-outer {
  position: absolute;
  height: 2.5rem;
  font-family: "Roboto";
  background-color: #48cc69;
  border-left: 1.5px solid darkgreen;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.5s ease;
}

.event-card-outer:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.event-card {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.event-card-body {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.mask {
  position: relative;
  z-index: 1000;
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);
  border-left: 1px solid rgba(200, 200, 200, 0.3);
  border-right: 1px solid rgba(200, 200, 200, 0.3);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.upcoming {
  background-color: lightblue;
  color: black;
}

.completed {
  color: black;
}

.inprogress {
  background-color: lightgreen;
  color: black;
}

.blocked {
  background-color: #b2beb5;
  color: rgb(82, 82, 82);
}

/* .event-cell {
  position: absolute;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 0.7rem;
  color: black;
  border-left: 1.5px solid black;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
} */
